<%- include('partials/header') %>

	<div class="container align_div">
		<div class="row">
				<img class ="align_img" src="images/data-lake.png"> 
				<h1 class="content align_text"><center>myDrive</h1>		
		</div>
		<div class="row">
			 <a class="align_button1" href="/register">
        	<span></span>
        	<span></span>
       		<span></span>
        	<span></span>
        	Register
    		</a>
    		<a href="/signin">
        	<span></span>
        	<span></span>
       		<span></span>
        	<span></span>
        	Sign   in    
    		</a>
		</div>
	</div>

<%- include('partials/footer') %>
