body{
	background-color: black;
}

h1{
	font-family: 'Bebas Neue', cursive;
	font-size: 80px;
	color: white;
}

img{
	width: 20%;
	height : 20%;
}

/* Home Page */

.align_img{
	margin-left: 400px;
   
}

.align_text{
	margin-top: 70px;
    margin-left: 30px;
}

.space{
	  margin-top: 125px;
}

.align_div{
	margin-top: 180px;
	margin-right: 130px;
}
.align_button1{
	margin-left: 460px;
}

/* buttons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    position: absolute;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;

   
}
a:hover{
    background: black;
    color: white;
    box-shadow: 0 0 5px black,
                0 0 25px black,
                0 0 50px black,
                0 0 200px black;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,black);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,black);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,black);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,black);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}


.align_card{
    width : 380px;
    height : 480px;
    margin: 8% auto;
    padding: 5px;
    background:white;
}

.input-group{
    top:180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
        margin-bottom: 10px;
        outline: none;
        background : transparent;
        width: 100%;
        /* border-bottom: 1px solid #999; */
        padding: 10px 0;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        padding-top: 0px;
        height: 27px;
}

.align_div{
  margin-left: 45px;
}

.align_button{
    left: 45px;
    margin-top: 270px;
}

label{
        margin-bottom: 0px;
}

h3{
   font-family: 'Bebas Neue', cursive;
   margin-top: 20px;
    margin-left: 90px; 
}
